body {
    background: rgba(0, 0, 0, 0.8);
    height:100vh;
    max-height:100%;
    margin: 0 auto;
    width:80%;
}
.inside {
    background:white;
    border:1px solid;
}
header {
    background-color:silver;
    color:white;
    margin:0 auto;
}
footer {
    background-color:silver;
    color:white;
    bottom: 0;
    width: 100%;
    height:15px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
h1 {
    text-align:center;
    font-size:40px;
    font-family: 'Cairo', sans-serif;
}
ul {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    list-style:none;
    margin-left:-16px;
}
a {
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
    color:salmon;
}
nav {
    background-color:silver ;
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align:center;
    font-family: 'Cairo', sans-serif;
}
h3 {
    text-align:center;
    margin:0;
}
p {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}
img {
    height:200px;
    width:200px;
    margin: 0 auto;
    display:block;
    border-radius:50%;
    border: 2px solid black;
}
.image {
    background-color:lightsalmon;
    margin: 0 auto;
}
section {
    width: 200px;
    background:lightsalmon;
    color:white;
    border-radius:10px;
    text-align:center;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
}
.pokemonDiv{
    background-image: url("./../images/image.png");
    background-size:cover;
    background-repeat: no-repeat;
    border: solid salmon 1px;
    height:200px;
    width:250px;
}
.apiDiv{
    background-image: url("./../images/bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    border: solid salmon 1px;
    height:200px;
    width:250px;
}
.pokemonDiv:hover, .apiDiv:hover{
    border: solid salmon 3px;
}
section:hover{
    text-decoration: underline;
}
.work {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin:30px 10px;
}
.footer{
    margin:0 25px;
}
.placeholder{
    display:none;
}
figcaption{
    width:250px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:10px;
    margin-top:10px;
}
@media (max-width: 500px) {
    .work {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    section {
        margin:5px 0;
    }
    h1 {
        font-size:20px;
    }
    body {
        width:100%;
    }
}